@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';
@import "bourbon";

@include foundation-global-styles;
//@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;


//Personal Sizing Classes
.full-height{
    min-height: 100vh;
}
// My Sass

// Main CSS
body {}
a {color: $dark-gray}
a:hover {color: $primary-color}
a:active {color: $primary-color}
h1{
    font-weight: bold;
    margin:0;
    vertical-align: middle;
}
h2{
    color: $dark-gray;
}
h3{
    color: $secondary-color;
    font-weight: bold;
    vertical-align: middle;
}
h4{
    color: $dark-gray;
}
h5{}
h6{ font-family: "clarendon-text-pro";
    font-style: italic;
    font-weight: 700;
    width: 60%;
    margin: 0 auto;}
p{}
button{}


.container{
background-color: $white;
}

.side-nav{
    padding: 30px 30px 0px 30px;
    border-left: 1px solid $medium-gray;
    min-width: 250px;
    transition: right 500ms;
    position: fixed;
    right:0;
    top:0;
    background: $white;
    z-index: 1000;


    .menu-arrow{
        background: url(../assets/arrow-collapse.png) no-repeat right;
    }
    .menu a{
        margin: 0;
        padding: .6rem 0 .5rem 0;
    }
    ul{
        li{
        }
        padding-top: 75px;
        h2{
            font-weight: bold;
            margin: 0;
            padding: 0;
        }

        a {
            text-transform: uppercase;
            border-bottom: 1px solid $medium-gray;

        }
        .nested {
            padding-top: 0;
            a {
                text-transform: none;
                border: none;
            }
        }
    }

}

.main-col{
    position:relative;
    padding-right: 250px;
    transition: padding 500ms;
    .an-logo{
        background: url(../assets/penrose-a.svg) no-repeat center;
        height: 100px;
        width: 97px;
        display: inline-block;

    }
    .hello-here{
        display: inline-block;
        padding-left: 15px;
        margin-top: -4px;
        width: 360px;
        vertical-align: top;
        h1{
            margin-top: -3px;
            line-height: 38px;
        }
        h2{
            margin-top: 4px;
        }
    }

    img {margin: 0 0 5px 0;}


    h4 {padding:0;
        margin:0;
        }

    h3 {padding:0;
        margin:0;
        }

    h2 {padding:0;
        margin:0;
        }
    p {padding:0;
        margin:0;
        }
    h6{
        margin:0;
        text-align: left;
    }

    .spacer{
        background: $medium-gray;
    }

    .button{
        margin: 30px auto;
        font-size: 20px;
        color: $black;
        background: $white;
        font-weight: normal;
        border: 2px solid $black;
        border-radius: 3px;
        width: 480px;

    }
    .button:hover{
//        margin: 0 auto;
        font-size: 20px;
        color: $white;
        background: $dark-gray;
        border: 2px solid $dark-gray;
    }

    .card-divider{
        height: 30px;
        background: $light-gray;
        box-shadow: inset 0px 4px 9px -5px rgba(0,0,0,0.55);
        }
    .dashed-divider {
            border-top: 1px dashed $medium-gray;
            margin-top: 15px;
            padding-top:30px;
        }


    .img-padding{
        padding: 0 30px;
        transition: padding 500ms;
    }
    .project-container{
        padding: 30px 30px 45px 30px;
        h1{}

        h3{display: inline-block;
            vertical-align: middle;
//            background: $secondary-color;
            color: $secondary-color;
            font-weight: 900;
            padding: 2px 5px;
//            margin: 5px 5px 5px 30px;
            }
        .cat-roles{
            text-align: right;
            float: right;
        }

        h4
        {display: inline-block;vertical-align: middle;}

        &.work-samples{padding: 15px 30px; border-bottom: 1px dashed $medium-gray;}

        .down-arrows img{
            height: 26px;
            margin: 10px 5px 0 5px ;
            vertical-align: middle;
        }

        .client-name{color:$dark-gray;}
        .client-lockup{ margin: 15px 0;}
    }

    .intro{
        .h2{
            font-size: 24px;
        }
        .prism{
            margin: 45px auto 15px auto;
        }
        h6{
            text-align: left;
            font-size: 60px;
            margin: 60px 1rem;
            width: 100%;
        }
    }
    .knewton-logo{
        background: url('../assets/knewton-logo.png') no-repeat top;
    }

    .ga-jumbo{
        min-height: 525px;
        margin: 0 auto;
        background:#000 url(../assets/GA.png) no-repeat center;
        margin: 0 0 15px 0;

        img{
            margin: 0 auto;
        }
    }

    .ob-jumbo{
    min-height: 525px;
    margin: 0 auto;
    background:#fff url(../assets/OB.png) no-repeat center;
    margin: 0 0 15px 0;

    img{
        margin: 0 auto;
    }
    }
}


.faq{
    a{color:$dark-gray;}
    p{font-size:$small-font-size}
}

footer{
    padding-bottom: 30px;
    padding-right: 250px;
    padding: 30px 250px 30px 0;
    position: relative;
    bottom:0 ;
    margin: 0 auto;
    width: 100%;

}

.open-this{
    width:60px;
    height: 60px;
    background: url(../assets/open-this.png);
    display: none;
    position: fixed;
    top: 32px;
    right: 0;
    margin-right: 60px;

    div{
    width:60px;
    height: 60px;
    }
}

.close-this{
    width: 60px;
    height: 60px;
    background: url(../assets/close-this.png) no-repeat left ;


  div {
    width:60px;
    height: 60px;
    }
}

.cass{}

