@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';
@import "bourbon";

@include foundation-global-styles;
//@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;


//Personal Sizing Classes
.full-height{
    min-height: 100vh;
}

// Main CSS
body {
background-color: darkslategray;
}
a {color: $medium-gray}
a:hover {color: $primary-color}
a:active {color: $primary-color}
h1{
    font-weight: bold;
    margin:0;
    vertical-align: middle;
}
h2{
    color: $medium-gray;
}
h3{
    color: $secondary-color;
    font-weight: bold;
    vertical-align: middle;
}
h4{
    color: $medium-gray;
}
h5{}
h6{ font-family: "clarendon-text-pro";
    font-style: italic;
    text-align: center;
    font-weight: 700;
    width: 60%;
    margin: 0 auto;}
p{}
button{}


.container{
background-color: $white;
}

.side-nav{
    padding: 35px 30px 0px 30px;
    border-right: 1px solid $light-gray;
    min-width: 250px;

    .an-logo{
        background: url(../assets/SVG/an-logo.svg) no-repeat center;
        min-height: 70px;
    }
    .menu-arrow{
        background:  url(../assets/arrow-collapse.png) no-repeat right;
    }
    .menu a{
        margin: 0;
        padding: .6rem 0 .5rem 0;
    }
    ul{
        li{
        }
        padding-top: 75px;
        h2{
            font-weight: bold;
            margin: 0;
            padding: 0;
        }

        a {
            text-transform: uppercase;
            border-bottom: 1px solid $light-gray;

        }
        .nested {
            padding-top: 0;
            a {
                text-transform: none;
                border: none;
            }
        }
    }

}

.main-col{
    padding: 0 30px 0 30px;

    img {margin: 0 0 5px 0;}


    h3 {padding:0;
        margin:0;
        display:inline-block;
        }

    h3 {padding:0;
        margin:0;
        display:inline-block;
        }

    h2 {padding:0;
        margin:0;

        }

    .spacer{
        background: $light-gray;
    }

    .button{
        margin: 30px auto;
        font-size: 20px;
        color: $black;
        background: $white;
        font-weight: normal;
        border: 2px solid $black;
        border-radius: 3px;
        width: 480px;
    }
    .button:hover{
//        margin: 0 auto;
        font-size: 20px;
        color: $white;
        background: $dark-gray;
        border: 2px solid $dark-gray;
    }

    .project-container{
        border-bottom: 1px dashed $light-gray;
        padding: 30px 0  45px 0;

        &.work-samples{
            padding: 15px 0;
        }

        .down-arrows img{
            height: 26px;
            margin: 10px 5px 0 5px ;
            vertical-align: middle;
        }

        .client-name{
            color:$dark-gray;

        }

    }
    .intro{
        .prism{
            margin: 45px auto 15px auto;
        }
    }
    .knewton-logo{
        background: url('../assets/knewton-logo.png') no-repeat top;
    }

    .ga-jumbo{
        min-height: 525px;
        margin: 0 auto;
        background:#000 url(../assets/GA.png) no-repeat center;
        margin: 0 0 15px 0;

        img{
            margin: 0 auto;
        }
    }
}



